body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
@media(max-width:991px){
    h2{
        font-size: 1.25rem !important;
    }
    p{
        font-size: 1rem !important;
    }
}