body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #000;
    color: #fff;
    font-weight: 300;
}
@media(max-width:991px){
    h2{
        font-size: 1.25rem !important;
    }
    p{
        font-size: 1rem !important;
    }
}