.footer {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    background: darken(black, 12%);
    color: $primary;
    margin-top: $spacing-base-m;
    padding: #{$spacing * 2px} 0;
    z-index: 1;
    &__author {
        text-align: left;
        color: white;
        background: darken(black, 12%);
    }
    &__list {
        list-style: none;
        color: $ahs-orange;
        &--flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: center;
        }
        &__item {
            // padding: .5rem 0;
            padding-right: .75rem;
           
            &__link {
                color: white;
                cursor: pointer;
                z-index: 1;
                &:hover {
                    color: rgba($gray-100, 0.48);
                    text-decoration: none;
                }
            }
        }
        @media (max-width:991px){
            &__item {
                // padding: .5rem 0;
                padding-right: .3rem;
            }
        }
    }
}