.main {
    flex: 1;
}
.home{
    width:100%;
    a{
        text-decoration: none;
    }
    &__img{
        padding-right: 0;
        padding-left: 0;
        position: relative;
        &__vid{
			padding: 0;
            height: 47vh;
            object-fit: cover;
        }
    }
    &__extra{
        margin-top: 4rem;
				justify-content:center;
        align-items: center;
				z-index: 1;
				&__greetings{
					display: flex;
					justify-content: center;
					p{
						font-size: 8rem !important;
						color: #c0c0c0 !important;
					}

				}
				&__personal{
					display: flex;
					justify-content: center;
					p{
						font-size: 1.5rem !important;
					}
					h2, strong{
						font-size: 1.75rem !important;
					}
					&__wrapper{
						padding: 0;
					}
				}
				@media (max-width:991px){
					&__greetings{
						display: flex;
						justify-content: center;
						p{
							font-size: 6rem !important;
						}
	
					}
					&__personal{
						display: flex;
						justify-content: center;
						text-align: center;
						p{
							font-size: 1.5rem !important;
						}
						h2{
							font-size: 1.75rem !important;
						}
						&__wrapper{
							padding: 0;
						}
					}
				}
    }
    &__clients, &__projects, &__skills{
        @include list-cards(5rem);
    }
		&__projects{
			&__other{
				margin-top: 2rem;
				&__link{
					text-decoration: none;
					&__action{
						color:#c0c0c0 !important;
						font-size: 1.75rem;
						text-align: center;

					}
				}
			}
		}

}

