.main {
    flex: 1;
}
.home{
    width:100%;
    a{
        text-decoration: none;
    }
    &__img{
        padding-right: 0;
        padding-left: 0;
    }
    &__text{
        margin-top: 4rem;
        @include text-wrapper(space-between);
        align-items: end;
        &__title{
            @include text-underline(left);
        }
        &__text{
            font-size: 1.25rem;
            padding: 2rem 0 1rem;
        }
    }
    &__extra{
        margin-top: 4rem;
        @include text-wrapper(space-between);
        align-items: end;
        @media (max-width: 991px){
            align-items: center;
        }
        &__title{
            @include text-underline(left);
            width:40%;
        }
        &__text{
            font-size: 1.25rem;
            padding: 2rem 0 1rem;
        }
    }
    &__us{
        @include list-cards(9rem);
    }
    &__us{
        margin-bottom: 4rem;
    }
    &__clients, &__projects{
        @include list-cards(5rem);
    }

}

