.main {
    flex: 1;
}
.home{
    width:100%;
    a{
        text-decoration: none;
    }
    &__img{
        margin-top: 4rem;
        padding-right: 0;
        padding-left: 0;
        position: relative;
        &__text{
            position: absolute;
            color: #fff;
            width:50%;
            bottom: 20%;
            left:5%;
            .onSmall{
                display: none;
            }
            .onBig{
                font-size: 1.5rem;
            }
            &--dark{
                color:white;
                background-color: rgba(0,0,0, .3);
                display:flex;
                justify-content: center;
                flex-direction: column;
                width:97%;
                height: 32%;
                bottom:.2rem !important;
                left:50%;
                transform: translateX(-50%);
                text-align: center;
            }

            @media (max-width:768px){
                &--dark{
                    left:50%;
                    transform: translateX(-50%);
                    width:95%;
                    bottom: .7rem;
                    padding: .4rem;
                    height: 27%;
                    font-size: 1.6rem;
                    text-align: center;
                }
                left:7%;
                bottom:20%;
                font-size: 2rem !important;
                .onSmall{
                    display: block;
                }
                .onBig{
                    display: none;
                }
            }
        }
    }
    &__text{
        margin-top: 4rem;
        @include text-wrapper(space-between);
        align-items: end;
        &__title{
            @include text-underline(left);
        }
        &__text{
            font-size: 1.25rem;
            padding: 2rem 0 1rem;
        }
    }
    &__extra{
        margin-top: 4rem;
        @include text-wrapper(space-between);
        align-items: end;
        @media (max-width: 991px){
            align-items: center;
        }
        &__title{
            @include text-underline(left);
            width:40%;
        }
        &__text{
            font-size: 1.25rem;
            padding: 2rem 0 1rem;
        }
    }
    &__us{
        @include list-cards(9rem);
    }
    &__us{
        margin-bottom: 4rem;
    }
    &__clients, &__projects{
        @include list-cards(5rem);
    }

}

