.main {
    flex: 1;
}
.home{
    width:100%;
    a{
        text-decoration: none;
    }
    &__text{
        margin-top: 4rem;
        &__title{
            display: inline-block;
            background-color:$ahs-purple;
            font-size: 2rem;
            padding: 1rem;
            color:white;
        }
        &__text{
            font-size: 1.25rem;
            padding: 2rem 0 1rem;
        }
    
    }
    &__extra{
        margin-top: 4rem;
        &__title{
            background-color:$ahs-purple;
            font-size: 1.6rem;
            padding: 1rem;
            color:white;
        }
        &__text{
            font-size: 1.25rem;
            padding: 2rem 0 1rem;
        }
    }
    &__us,&__projects,&__clients{
        @include list-cards
    }

}

