.team {
  margin: 1rem; 
  &__wrapper {
    @include text-wrapper;
    &__header {
      text-align: center;
      font-weight: 600;
      padding-bottom: $spacing-md;
      border-bottom: 2px solid $ahs-purple ;
      display: inline-block;
    } 
  }
  &__wrapper__text {
   @include text-wrapper; 
      p {
        text-align: center;
        font-size: $text-base;
        padding-bottom: $spacing-base-m;
        width: 40rem;
      }
  }
  &__image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__container {
      position: relative;
      width: 40%;
      &__info {
        position: absolute;
        top: 30%;
        left: 5%;
      }
    }
  }
  &__together {
    text-align: center;
    padding-bottom: $spacing-base-m;
    padding-top:  $spacing-base-m;
    &__wrapper {
      margin-bottom: $spacing-base-m;
    }
    &__text {
      background-color: $ahs-purple;
      display: inline-block;
      font-size: 1.6rem;
      padding: 1rem;
      line-height: 1.6;
      color: white;
    }
    &__link {
      border: 2px solid $ahs-purple;
      margin-top: 1rem;
      padding: 1rem;
      transition: all 2s ease-in-out;
      cursor: pointer;
      &:hover {
        text-decoration: none;

      }
      &:hover .image--right {
        display: inline-block;
      }
    }
  
}
}