.team {
  margin-top: 4rem;
  &__wrapper {
    @include text-wrapper;
    &__header {
    @include text-underline;
    } 
  }
  &__wrapper__text {
   @include text-wrapper; 
      p {
        text-align: center;
        font-size: $text-base;
        padding-bottom: $spacing-base-m;
        width: 40rem;
      }
  }
  &__image {
     margin-bottom: $spacing-base;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    &__container {
      position: relative;
      padding: 0;
      // width: 40%;
      &__info {
        position: absolute;
        top: 30%;
        left: 5%;
        width: 48%;
      }
    }
  }
  &__together {
    text-align: center;
    padding-bottom: $spacing-base-m;
    padding-top:  $spacing-base-m;
    &__wrapper {
      margin-bottom: $spacing-base-m;
      margin-top: $spacing-base;
    }
    &__text {
      background-color: $ahs-purple;
      display: inline-block;
      font-size: 1.6rem;
      padding: 1rem;
      line-height: 1.6;
      color: white;
    }
    &__link {
      border: 2px solid $ahs-purple;
      margin-top: 1rem;
      padding: 1rem;
      transition: all .8s ease-in-out;
      cursor: pointer;
      &:hover {
        text-decoration: none;

      }
      &:hover .image--right {
        display: inline-block;
      }
    }
  
}
}