.cases{
  margin-top: 4rem;
  &__client{
    font-size:$text-base;
    &__info{
      padding-top:3rem;
      padding-bottom: 3rem;
      border: 1px solid whitesmoke;      
      color: #000;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      h6{
        margin-top: .5rem;
      }
    }
    &__about{
      border: 1px solid whitesmoke;
      padding-top:3rem;
      padding-bottom: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: start;

    }
    &__tech{
      border: 1px solid transparent;
      padding-top:3rem;
      padding-bottom: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: start;
      background-color: whitesmoke;
      color:#000;

    }
  }
  &__text{
    @include text-wrapper(center);
    margin-top: 4rem;
    &__title{
      @include text-underline(center);
    }
  }
  &__element{
    margin-top: 4rem;
    margin-bottom: 4rem;
    &__subtitle{
      margin: 2rem 0;
      @include text-wrapper(start);
      &__content{
        @include text-underline(left);
        font-size: 1.6rem;
        color:white;
        
        &:hover{
          text-decoration: none;
          color: #c0c0c0;
          border-bottom: 2px solid #c0c0c0;
        }
      }
    }
    &__item{
      &__img{
        transition: all .5s ease-in-out ;
        &:hover{
          transform: scale(1.1);
        }
      }
    }
  }
}
