.cases{
  margin-top: 4rem;
  &__client{
    font-size:$text-base;
    &__review{
      padding-top:3rem;
      padding-bottom: 3rem;
      background-image: url(https://images.unsplash.com/photo-1600096194534-95cf5ece04cf?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bGlrZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
      background-repeat: no-repeat;
      background-position:center;
      background-size: cover;
      
      color: #000;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      h6{
        margin-top: .5rem;
      }
    }
    &__about{
      border: 1px solid whitesmoke;
      padding-top:3rem;
      padding-bottom: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

    }
  }
  &__text{
    @include text-wrapper(center);
    margin-top: 4rem;
    &__title{
      @include text-underline(center);
    }
  }
  &__element{
    margin-top: 4rem;
    margin-bottom: 4rem;
    &__subtitle{
      margin: 2rem 0;
      @include text-wrapper(start);
      &__content{
        @include text-underline(left);
        font-size: 1.6rem;
        color:white;
        
        &:hover{
          text-decoration: none;
          color: #c0c0c0;
          border-bottom: 2px solid #c0c0c0;
        }
      }
    }
    &__item{
      &__img{
        transition: all .5s ease-in-out ;
        &:hover{
          transform: scale(1.1);
        }
      }
    }
  }
}
.dropdown{
  &__links{
      display: none;
      position: absolute;
      background-color: black;
      width: 8rem;
      max-height: 15rem;
      overflow-x: hidden;
      overflow-y: auto;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      &__item{
          color: white;
          padding: .8rem;
          text-decoration: none;
          display: block;
          text-align: center;
          font-size: .8rem;
          &:hover{
              background-color: white;
              text-decoration: none;
          }
      }
  }
  &__btn{
      width:8rem !important;
      height:2.85rem !important;
      outline: none;
      border: none;
      background-color: black;
      color: white;
  }
}
.dropdown:hover .dropdown__links{
  display: block;
}
.dropdown{
  position:absolute;
  top: 4.3rem;
  right:1rem;
}
