@mixin make-container($padding-x: $container-padding-x) {
  width: 100%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}
@mixin text-wrapper($justify) {
  display: flex;
  justify-content: $justify;
  padding-bottom: $spacing-base-m;
}
@mixin text-underline($position) {
  text-align: $position;
  font-weight: 600;
  padding-bottom: $spacing-md;
  border-bottom: 2px solid whitesmoke;
  transition: all .3s ease-in-out;
  display: inline-block;
}
@mixin list-cards($height){
  margin-top: 4rem;
  margin-bottom: 4rem;
  &__header{
      @include text-wrapper(space-between);
      align-items: end;
      margin-bottom: 2rem;
      &__title{
          @include text-underline(left);
      }
  }
  &__list{
      &__item{
        
    
          &__element{
              text-align: center;
              color:white;
              // background-color:$ahs-purple;
              border: 2px solid #c0c0c0;
              border-radius: .75rem;
              padding: 1.5rem;
              margin-bottom: 1rem;
              &--height{
                min-height: 18rem;
                transition: all .3s ease-in-out;
                &:hover{
                  transform: scale(1.03);
                  text-decoration: none;
                }
              }
              &--longer{
                min-height:24rem;
              }
              p{
                  width:100%;
                  height: $height;
              }
              ul{
                list-style: none;
                padding: 0;
                
              }
          }
         
          .extra{
              background-color:transparent;
              border:none;
              img{
                  width:4rem;
              }
          }
      }
  }
}