@mixin make-container($padding-x: $container-padding-x) {
  width: 100%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}
@mixin text-wrapper($justify) {
  display: flex;
  justify-content: $justify;
  padding-bottom: $spacing-base-m;
}
@mixin text-underline($position) {
  text-align: $position;
  font-weight: 600;
  padding-bottom: $spacing-md;
  border-bottom: 2px solid $ahs-purple ;
  display: inline-block;
}
@mixin list-cards($height){
  margin-top: 4rem;
  &__header{
      @include text-wrapper(space-between);
      align-items: end;
      margin-bottom: 2rem;
      &__title{
          @include text-underline(left);
      }
  }
  &__list{
      &__item{
        transition: all .5s ease-in-out;
          &__element{
              text-align: center;
              color:white;
              background-color:$ahs-purple;
              padding: 1.5rem;
              margin-bottom: 1rem;
              p{
                  width:100%;
                  height: $height;
              }
          }
          &:hover{
            transform: scale(1.05);
            text-decoration: none;
          }
          .extra{
              background-color:transparent;
              img{
                  width:4rem;
              }
          }
      }
  }
}