---
layout: layouts/base.njk
path: ..
eleventyNavigation:
  key: Team
  order: 4
---

<section class="team container">

 <div class="team__wrapper">
    <h2 class="team__wrapper__header">Team</h2>
 </div>
  <div class="team__wrapper__text">
    <p class="team__wrapper__text__content">
      Onze klantteams zijn gek van code, design en strategie. Vanuit onze factory in Rotterdam werken we samen met onze klanten aan de continue digitalisering van hun business.
    </p>
  </div>
  
  <div class="team__image row">
    {% for element in team %}
      <div  class="team__image__container col-12 col-lg-6">
        <div class="{{element.class}}">
          <img class="image--team" src="../static/images/{{element.photo}}" alt="photo of a team member">
        </div>
      
        <div class="team__image__container__info">
          <h3 class="team__info__name">{{element.name}}</h3>

          <h4  class="team__info__role">{{element.role}}<h4>
        </div> 
      </div>
    {% endfor %} 
  </div>

  <div class="team__together">
    <h2 class="team__together__header">Ook werken in onze factory?</h2>

    <div class="team__together__wrapper">
       <p class="team__together__text">Kom eens langs om kennis te maken</p>
    </div>

    <a class="team__together__link">Contact
     <img class="image--right"src="../static/images/icons/right.svg">
    </a>
  </div>

</section>