---
layout: layouts/base.njk
path: ..
eleventyNavigation:
  key: Services
  order: 2
---
    <div class="home container">
      <div class="home__text">
        <h2 class = "home__text__title">What we do</h2>
      </div>
      <div class="container">
        <div class="row">
          <p class = "col-lg-6 col-md-12 home__text__text" style="padding-top: 64px; padding-left: 0;">We create digital products that make people happy and businesses grow. From strategy to product launch and beyond, we work in strategic partnerships with companies that take their digital future seriously.</p>
          <div class="home__img col-lg-6 col-md-12">
              <img class="img-fluid" src="https://images.unsplash.com/photo-1556761175-5973dc0f32e7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2980&q=80">
          </div>
        </div>
      </div>
    </div>
    <div class="home__us container">
        <div class="home__us__header">
            <h2 class="home__us__header__title">How it works</h2>
            {# <a class="link--btn" href="./services/">Our services
                <img class="image--right"src="./static/images/icons/right.svg">
            </a> #}
        </div>
        <div class="home__us__list row row-cols-1 row-cols-lg-3 row-cols-md-2 g-4">
            <div class="col home__us__list__item">
                <div class="home__us__list__item__element card h-100">
                    <img src="../static/images/icon-strategy.png" class="card-img-top image--card" alt="...">
                    <div class="card-body home__us__list__item__text">
                        <h5 class="card-title">Strategy</h5>
                        <p class="card-text">More than ever, you need a strategy that leads to action. A vision with a plan. Clarity but also focus, about where to direct your digital investments.</p>
                    </div>
                </div>
            </div>
            <div class="col home__us__list__item">
                <div class="home__us__list__item__element card h-100">
                    <img src="../static/images/icon-creative.png" class="card-img-top image--card" alt="...">
                    <div class="card-body home__us__list__item__text">
                        <h5 class="card-title">Creating</h5>
                        <p class="card-text">Our team of developers and designers builds and ships state-of-the-art products and platforms. Since our foundation, we’ve created applications that are used by millions of people daily.</p>
                    </div>
                </div>
            </div>
            <div class="col home__us__list__item">
                <div class="home__us__list__item__element card h-100">
                    <img src="../static/images/knowledge.png" class="card-img-top image--card" alt="...">
                    <div class="card-body home__us__list__item__text">
                        <h5 class="card-title">Learning </h5>
                        <p class="card-text">Launching your product is just a first step. Our Growth team aims to boost your product’s user base, engagement and retention through a structured goal-oriented approach.</p>
                    </div>
                </div>
            </div>
            <div class="col home__us__list__item">
                <div class="home__us__list__item__element card h-100">
                    <img src="../static/images/icon-content.png" class="card-img-top image--card" alt="...">
                    <div class="card-body home__us__list__item__text">
                        <h5 class="card-title">Content</h5>
                        <p class="card-text">We feed your audience with the right content at the right time, in text and images, throughout the entire customer journey.</p>
                    </div>
                </div>
            </div>
            <div class="col home__us__list__item">
                <div class="home__us__list__item__element card h-100">
                    <img src="../static/images/icon-marketing.png" class="card-img-top image--card" alt="...">
                    <div class="card-body home__us__list__item__text">
                        <h5 class="card-title">Marketing</h5>
                        <p class="card-text">Using intelligent automation, we help you reach and convert your target audience, from leads to loyal brand ambassadors.</p>
                    </div>
                </div>
            </div>
            <div class="col home__us__list__item">
                <div class="home__us__list__item__element card h-100">
                    <img src="../static/images/icon-tech.png" class="card-img-top image--card" alt="...">
                    <div class="card-body home__us__list__item__text">
                        <h5 class="card-title">Technologie</h5>
                        <p class="card-text">Our extensive tech stack guarantees freedom in development, testing, support and maintenance. Count on the best match for your project.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>