---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
title: Home
path: .
---
<section class="home">
    <div class="home__img ">
        <video class="home__img__vid col-12" autoplay muted loop id="myVideo">
            <source src="./static/images/coding.mp4" type="video/mp4" alt='head video of man typing or coding'>
        </video>
    </div>
    <div class="home__extra container">
        <div class="container">
            <div class="row">
                <div class="home__extra__greetings col-sm-12 col-md-6">
                    <p>Hello,</p>
                </div>
                <div class="home__extra__personal col-sm-12 col-md-6">
                    <div class="home__extra__personal__wrapper">
                        <div>
                            <p>My name is</p>
                            <strong>Aiden Soufi</strong>
                        </div>
                        <div class = 'home__extra__job'>
                            <p>and i'm a</p>
                            <strong>JavaScript developer</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="home__skills container">
        <div class="home__skills__header">
            <h1 class="home__skills__header__title">Hard Skills</h1>
        </div>

        <div class="home__projects__list row row-cols-1 row-cols-xl-4 row-cols-md-2 g-4">
            <div class="col home__skills__list__item">
                <div class="item home__skills__list__item__element home__skills__list__item__element--longer  card h-100 ">
                    <img src='./static/images/tools.svg' class="card-img-top image--card" alt="icon of table">
                    <div class="card-body">
                        <strong class="card-title">General</strong>
                        <ul>
                            <li>NunJucks</li>
                            <li>Markdown</li>
                            <li>NPM</li>
                            <li>Jest</li>
                            <li>Postman</li>
                            <li>JWT</li>
                            <li>Git</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col home__skills__list__item">
                <div class="item home__skills__list__item__element home__skills__list__item__element--longer  card h-100">
                    <img src='./static/images/fend.svg' class="card-img-top image--card" alt="icon">
                    <div class="card-body">
                        <strong class="card-title">Front-End</strong>
                        <ul>
                            <li>HTML5</li>
                            <li>CSS3</li>
                            <li>SASS</li>
                            <li>Bootstrap</li>
                            <li>Vanilla Javascript</li>
                            <li>TypeScript</li>
                            <li>ReactJS</li>
                            <li>EleventyJS</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col home__skills__list__item">
                <div class="item home__skills__list__item__element home__skills__list__item__element--longer  card h-100 ">
                    <img src='./static/images/backend.svg' class="card-img-top image--card" alt="icon">
                    <div class="card-body">
                        <strong class="card-title">Back-End</strong>
                        <ul>
                            <li>NodeJs</li>
                            <li>ExpressJS</li>
                            <li>NestJS</li>
                            <li>Laravel</li>
                            <li>Mysql</li>
                            <li>Sqlite</li>
                            <li>PostgreSQL</li>
                            <li>FireBase</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col home__skills__list__item">
                <div class="item home__skills__list__item__element home__skills__list__item__element--longer  card h-100 ">
                    <img src='./static/images/frontend.svg' class="card-img-top image--card" alt="icon">
                    <div class="card-body">
                        <strong class="card-title">Web-Design</strong>
                        <ul>

                            <li>AdobeXD</li>
                            <li>Adobe photoshop</li>
                            <li>Figma</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>