---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
title: Home
path: .
projects:
    - 7
    - 9
    - 11
description: Get great at designing amazing websites and mobile applications with high-performance code and neat graphics. In the Associate Degree in Computer Programming you will learn all the tricks of the digital trade.
---

<section class="home">
    <div class="container">
        <div class="home__text">
        <span class = "home__text__title">Full-service partner van<br>ambitieuze ondernemingen</span>
        <p class = "home__text__text">Inova geeft als digital agency de ondernemingen van morgen vorm op gebied van marketing, strategie, communicatie en technologie. Onze campussen in België en Nederland barsten van het talent om uitdagende projecten naar een hoger niveau te tillen.</p>
        </div>
        <div class="row">
            <div class="home__img col-12">
                <img class="img-fluid" src="./static/images/hero.png">
            </div>
        </div>
        <div class="home__extra">
        <span class="home__extra__title">Experts in groei</span>
        <P class="home__extra__text">
            Imagine Tomorro_
            Samen met onze klanten anticiperen we op de uitdagingen van een steeds sneller evoluerende wereld. Consumenten verwachten meer dan enkel uitstekende service, en technologie maakt het mogelijk om een antwoord te bieden op die veranderende verwachtingen. Samen met onze klanten kijken we vooruit naar morgen, verleggen we grenzen om nieuwe kansen te creëren en geven we de toekomst vorm.
        </P>
        </div>
    </div>
    <div class="home__projects container">
        <div class="home__projects__header">
            <h2 class="home__projects__header__title">Our projects</h2>
            <a class="home__projects__header__link link--btn" href="./work/">All projects
                <img class="image--right"src="./static/images/icons/right.svg">
            </a>
        </div>
        {% if projects | length %}
        {% endif %}
        <div class="home__projects__list row row-cols-1 row-cols-lg-3 g-4">
        {% for project in projects %}
            <a class="col home__projects__list__item" href="https://soufieddin.github.io/p{{project}}/" target="_blank">
                <div class="item home__projects__list__item__element card h-100">
                    <img src="./static/images/{{project}}.svg" class="card-img-top image--card" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </a>
        {% endfor %}
        </div>
    </div>
    <div class = "home__clients container">
        <div class="home__clients__header">
            <h2 class = "home__clients__header__title">Our clients</h2>
        </div>
        {% if clients | length %}
        {% endif %}
        <div class="home__clients__list row row-cols-3 row-cols-md-6 g-4">
        {% for client in clients %}
        <div class="col">
            <div class="home__projects__list__item  card h-100">
                <div class="home__projects__list__item__element extra">
                    <img src="./static/images/{{client.img}}.svg" class="card-img-top" alt="...">
                </div> 
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</section>