* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
}

h1 {
  font-weight: 300;
  text-align: center;
  margin: 20px 0;
}

#animals {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

#animals img {
  display: block;
  padding: 10px;
  margin: 0 auto;
  width: 150px;
  cursor: move;
  opacity: 0.9;
}

#animals img:hover {
  opacity: 1;
}

#dropzone {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

#dropzone > div {
  position: relative;
  min-height: 200px;
  flex-basis: 200px;
  margin: 5px 5px 30px 5px;
  background-color: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

#dropzone > div h2 {
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: 300;
}

#dropzone > div img {
  width: 50px;
  margin: 3px;
  pointer-events: none;
}
