
<div class = "container">
  <div class="dropdown">
      <button class="dropdown__btn btn--third">Other Projects</button>

      <div class="dropdown__links">
      {% for article in collections.work%}
      {% if article.url !== page.url %}
        <a class="dropdown__links__item" href="{{ article.url | url}}">
          {{ article.data.project.title}}
        </a>
      {% endif %}
      {% endfor %}
  </div>
</div>
<div class="cases container">
  <img class = "image--client" src = "../../static/images/{{project.thumb}}.svg" />
  <div class="cases__text">
    <h2 class = "cases__text__title">{{project.title}}</h2>
  </div>
  <div class="cases__client">
    <div class = "row">
      <div class = "cases__client__about col-md-6 col-sm-12">
        <h6>Client: {{client.name}}</h6>
        <p>{{client.synopsis}}</p>
      </div>
      <div class = "cases__client__review col-md-6 col-sm-12">
        <q>{{client.review}}</q>
        <h6><cite>_{{client.name}}</cite></h6>
      </div>
    </div>
  </div>
  
</div>
<div class="cases__element container">
  <div class="cases__element__subtitle">
    <a class = "cases__element__subtitle__content" href="{{project.link}}" target="_blank">Visit Site</a>
  </div>
  <div class="row cases__element__item">
    <div class="cases__element__item__img gf__img col-sm-12 col-lg-3">
      <img src="../../static/images/{{project.mob}}.png"/>
    </div>
    <div class="cases__element__item__img gf__img col-sm-12 col-lg-4">
      <img src="../../static/images/{{project.ipad}}.png"/>
    </div>
    <div class="cases__element__item__img gf__img col-sm-12  col-lg-5">
      <img src="../../static/images/{{project.pc}}.png"/>
    </div>
  </div>
</div>