<footer>
    <div class= "footer">
        <div>
            <section class="container">
            <div class="row">
                
                <p class="footer__author col-6">© Aiden Soufi</p>
                <ul class="footer__list footer__list--flex col-6">
                      {% for element in footerSocial %}
                       <li class="footer__list__item">
                        <a href="{{element.href}}" class="footer__list__item__link">
                            <img class="image--social" src="{{path}}/static/images/icons/{{element.icon}}" alt='social icon'> 
                        </a>
                       </li>
                    {% endfor %} 
                </ul>
                
            </div>
            {# <p class="footer__author col-6">© Aiden Soufi 2021</p> #}
            </section>
        </div>
    </div>

    
</footer>