<header class="header">    
    <div class="container-fluid">
        <div class="row justify-content-between">
           <button class="burger" >
                        <svg width="29" height="20" viewBox="0 0 29 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M29 4H0V0H29V4ZM29 8H0V12H29V8ZM29 16H0V20H29V16Z" fill="white"/>
                        </svg>
           </button>
            <h1 class="col logo">
                <a href="{{ '/' | url }}" title="Back to the homepage of the {{ site.subdomain }}">
                    <img class= "image--logo" src = "{{path}}/static/images/inova.svg">
                </a>
            </h1>
            {% include "components/navigation.njk" %}
        </div>
    </div>
</header>