---
layout: layouts/base.njk
path: ../..
tags: work
title: Project
project:
  title: Quizzer
  thumb: 10
  link: "https://soufieddin.github.io/p10/"
  mob: "quizzer-mobile"
  ipad: "quizzer-ipad"
  pc: "quizzer-pc"
  for: Artevelde university of applied sciences
  synopsis: Quizzer is web and mobile app where user can set the difficulty and amount of questions.
technologies:
  - CSS3
  - Vanilla Javascript
  - Local Storage
  - Git
---
{% include "components/detail.njk" %}