---
layout: layouts/base.njk
path: ../..
tags: work
project:
  title: Gent's Festivals site
  thumb: 11
  link: "https://soufieddin.github.io/p11/"
  mob: "mobile"
  ipad: "ipad"
  pc: "pc"
client: 
  name: The city of Gent
  quote: Tes iete op Pole Pole!
  synopsis: The Gentse Feesten "The Ghent Festival" is a music and theatre festival in the city of Ghent, Belgium. Besides stage events there are street acts such as mimes and buskers. The festival starts on the Friday before the third Sunday of July and lasts until and including the fourth Sunday of July. The date originally had no reference to July 21st, Belgium's national holiday, but that holiday is always included. The festival starts on "the (Fri)day before the Saturday before July 21st" and lasts ten days. The last day (always a Sunday) is known as de dag van de lege portemonnees ("the day of the empty wallets") alluding to the fact that many people have spent their last penny at the festival and is seen by the people of Ghent as "their" day while visitors leave.
  review: Good expertise with hands-on implementation
---

{% include "components/detail.njk" %}