---
layout: layouts/base.njk
path: ../..
tags: work
title: Project
project:
  title: Gent's Festivals site
  thumb: 11
  link: "https://soufieddin.github.io/p11/"
  mob: "mobile"
  ipad: "ipad"
  pc: "pc"
  for: Artevelde university of applied sciences
  synopsis: The Gentse Feesten "The Ghent Festival" is a music and theatre festival in the city of Ghent, Belgium. The festival starts on the Friday before the third Sunday of July.
technologies:
  - HTML5
  - CSS3
  - Vanilla Javascript
  - Git
---

{% include "components/detail.njk" %}