---
layout: layouts/base.njk
path: ../..
tags: work
title: Project
project:
  title: Webshop Aliv
  thumb: 7
  link: "https://soufieddin.github.io/ailiv/"
  mob: "alivi-mobile"
  ipad: "alivi-ipad"
  pc: "alivi-pc"
  for: Artevelde university of applied sciences
  synopsis: Aliv is naturally programmed to be one with nature. Fortunately, there are flowers that make every emotion and every special moment even more alive. Aliv considers it an honor to be the link between flowers and the lives of his customers..
technologies:
  - HTML5
  - CSS3
  - Vanilla Javascript
  - Git
---
{% include "components/detail.njk" %}