---
layout: layouts/base.njk
path: ../..
tags: work
title: Project
project:
  title: Webshop Alivi
  thumb: 7
  link: "https://soufieddin.github.io/p7/"
  mob: "alivi-mobile"
  ipad: "alivi-ipad"
  pc: "alivi-pc"
client:
  name: Lieve Cortier
  quote: Bloemen maken alles intenser 
  synopsis: We zijn van nature geprogrammeerd om één te zijn met de natuur. Gelukkig zijn er bloemen die elke emotie en bijzonder moment nog intenser maken. Ik vind het een hele eer om een verbindende rol te kunnen spelen tussen de bloemen en het leven van mijn klanten.
  review: INOVA is de ideale digitale partner! Fijne en duurzame samenwerking, ik ben super tevreden met mijn website en de service.
---
{% include "components/detail.njk" %}