---
layout: layouts/base.njk
path: ../..
tags: work
project:
  title: Biography and portfolio site
  thumb: 9
  link: "https://soufieddin.github.io/p9/"
  mob: "aq-mobile"
  ipad: "aq-ipad"
  pc: "aq-pc"
client: 
  name: Arne Quinze Studio
  quote: If only we could build our cities as balanced as nature's ecosystems...
  synopsis: Arne Quinze is a Belgian contemporary artist, painter and sculptor. His work involves everything from small drawings and paintings, medium-sized sculptures to massive installations. Quinze was born in Belgium in 1971 and currently lives and works in Sint-Martens-Latem, a town near the Belgian city of Ghent. His early career in the 1980s was as a graffiti artist. He always questioned the role of our cities and started his search for cities to become open air museums. His work quickly evolved from Street Art to Public Art with recurring themes as social interaction, urbanisation and diversity.
  review: Toppers die actief meedenken en meetbare resultaten neerzetten met "real world" impact!
---

{% include "components/detail.njk" %}