---
layout: layouts/base.njk
path: ..
eleventyNavigation:
  key: Work
  order: 3
---

<div class="cases container">
  <div class="cases__text">
    <h2 class = "cases__text__title">Interesting Cases</h2>
  </div>
</div>
{% if cases | length %}
{% endif %}
{% for case in cases %}
<div class="cases__element container">
  <div class="cases__element__subtitle">
    <a class = "cases__element__subtitle__content" href="{{case.link}}" target="_blank">{{case.title}}</a>
  </div>
  <div class="row cases__element__item">
    <div class="cases__element__item__img gf__img col-sm-12 col-lg-3">
      <img src="../static/images/{{case.mob}}.png"/>
    </div>
    <div class="cases__element__item__img gf__img col-sm-12 col-lg-4">
      <img src="../static/images/{{case.ipad}}.png"/>
    </div>
    <div class="cases__element__item__img gf__img col-sm-12  col-lg-5">
      <img src="../static/images/{{case.pc}}.png"/>
    </div>
  </div>
</div>
{% endfor %}
