---
layout: layouts/base.njk
path: ..
eleventyNavigation:
  key: Work
  order: 2
---
    <div class="home">
        <div class="home__img ">
            <video class="home__img__vid col-12" autoplay muted loop id="myVideo">
                <source src="../static/images/work.mp4" type="video/mp4">
            </video>
            <div class="home__img__text home__img__text--dark">
                <h6 class = "onSmall">And when the client is happy, we are happy.</h6>
                <h5 class = "onBig">Get closer than ever to your customers. So close that you tell them what they need well before they realize it themselves..</h5>
                <h6 class = "onBig">__Steve Jobs</h6>
            </div>
        </div>
        <div class="container">
            <div class="row">
                
            </div>
        </div>
    </div>
    <div class="home__projects container">
        <div class="home__projects__header">
            <h2 class="home__projects__header__title">Interesting projects</h2>
        </div>
        <div class="home__projects__list row row-cols-1 row-cols-lg-3 g-4">
        {% for p in collections.work %}
            <a class="col home__projects__list__item " href="{{p.url | url}}" target="_blank">
                <div class="item home__projects__list__item__element home__projects__list__item__element--height  card h-100">
                    <img src='../static/images/{{p.data.project.thumb}}.svg' class="card-img-top image--card" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{p.data.project.title}}</h5>
                        <h6 class="card-title">Client: {{p.data.client.name}}</h6>

                    </div>
                </div>
            </a>
        {% endfor %}
        </div>
    </div>

