.button {
  &--contact {
    outline: none;
    border: 1pc solid $ahs-purple;
  }
  // &--margin{
  //   margin-top: 4rem;
  // }
}
.link--btn{
  border: 2px solid $ahs-purple;
  margin-top: 1rem;
  padding: 1rem;
  transition: all .8s ease-in-out;
  cursor: pointer;
  .image--right{
    display: none;
  }
  &:hover {
    text-decoration: none;

  }
  &:hover{
    .image--right{
      display: inline-block;
    }
  }
}