.button {
  &--contact {
    outline: none;
    border: 1pc solid $ahs-purple;
  }
}
.link--btn{
  border: 2px solid whitesmoke;
  color: white;
  margin-top: 1rem;
  padding: 1rem;
  transition: all .2s ease-in-out;
  cursor: pointer;
  .image--right{
    display: none;
  }
  &:hover {
    text-decoration: none;
    color: white;

  }
  &:hover{
    .image--right{
      display: inline-block;
    }
  }
}
.btn-to-top{
  height:4rem;
  width:4rem;
  border-radius: .5rem;
  opacity: .7;
  outline: none;
  border:none;
  position: fixed;
  bottom:1rem;
  right:2rem;
  background-color:whitesmoke;
  color:black;
  z-index: 2;
  padding: .5rem;
}