.image {
  &--right {
    width: 2rem;
    padding-left: 1rem;
    display: none;
    transition: all .8s ease-in-out;
  }
  &--logo{
    width:10rem;
  }
  &--card{
    max-width:5rem;
    height:5rem;
    display: block;
    margin: 1rem auto;
  }
}
.color {
  border: 2px solid $ahs-purple;
}
.no {
  border: 2px solid transparent;
}