.nav {
    --nav-spacing: #{$spacing*1px};

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;

        list-style: none;
        margin: 0;
        padding: 0;

        &-item {
            font-family: $font-family-montserrat;
            font-size: 24px;
            font-weight: 300;

            > a {
                position: relative;
                display: block;
                color: #c0c0c0;
               
                padding: calc(var(--nav-spacing)/2) var(--nav-spacing);

                text-decoration: none;                

                &::before {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    bottom: 0.5em;
                    left: var(--nav-spacing);
                    height: 0.5em;
                    width: calc(100% - var(--nav-spacing) * 2);
                    background: transparent;
                    border-bottom: 1px solid transparent;

                    transition: all 286ms ease-in-out 0s;
                }

                &:hover::before {
                    //background: $white;
                    border-bottom-color: #c0c0c0;
                }
            }

            &--active {
                > a {
                    &::before {
                        //background: lighten(white, 20%);
                        border-bottom-color: whitesmoke;
                    }
                }
            }
        }
    }
}